%h1 Landmark Editor

%form(action="/landmarks/#{@landmark.id}" method="post")
  %input#hidden(type="hidden" name="_method" value="patch")
  %label
    Landmark Name:
    %input#name(type="text" name="landmark[name]"){value: @landmark.name}

  %label
    Year Completed:
    %input#year_completed(type="text" name="landmark[year_completed]"){value: @landmark.year_completed}

  %input#submit(type="submit" name="submit" value="Edit Landmark")
