%h1 Landmark Creator

%form(action="/landmarks" method="post")
  %label
    Landmark Name:
    %input#landmark_name(type="text" name="landmark[name]")

  %label
    Year Completed:
    %input#landmark_year_completed(type="text" name="landmark[year_completed]")

  %input#submit(type="submit" name="submit" value="")
