body {
  font-family: Arial, sans-serif;
  margin: 2rem;
}

a {
  color: #3066be;
  text-decoration: none;
  transition: all .2s;
}

a:hover {
  color: #3c3744;
}

.type {
  background: #b4c5e4;
  color: #090c9b;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: .2rem;
}
